html,body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
}

.whale{
  background-color:#ffffff;
  position:absolute;
  background-image: url(moby.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#holder{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;

}

#clickmessage{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-color:#fff;
}

.clickmessagetext{
  color:#e5e5e5;
  font-family: Arial;
  font-size: 2em;
}

.seabg {
  /*background: linear-gradient(#fff, #ccccff, #000088); Standard syntax */
}

.preloader{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-color:rgba(255,255,255,0.8);
  font-size:3em;
  font-weight:bold;
  color:#800;
  font-family: Arial;
}

.preloader img{
  width:50px;
}